/* About us
=============== */

.about_us {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    height: 775px;
    background: #000 url('../img/black-main.jpg') center no-repeat;
    background-size: cover;

    &_inf {
        padding-top: 228px;
    }

    &_title {
        color: #ffffff;
        font-size: 45px;
        margin-bottom: 46px;

    }

    
    &_text {
        color: #A5A5A5;
        font-size: 25px;
    }
}