/* competencies
======================= */

.competencies {
    background: #4B66AB;
    padding: 120px 0;
    
    &_item_title {
        padding-left: 43px;
        text-transform: uppercase;
        font-size: 15px;
        color: #EAAC36;
    }

    &_item_list {
        font-size: 32px;
        margin-bottom: 56px;
        
        & ul {
            padding-left: 55px;
        }
    }

    

}



.wc {
    color: #fff;
}