@font-face {
	font-family: 'Intro-Book';
	src: url('../fonts/Intro-Book.eot');
    src: local('☺'), url('../fonts/Intro-Book.woff') format('woff'), 
    url('fonts/Intro-Book.ttf') format('truetype'), 
    url('fonts/Intro-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Intro-Book';
	src: local('☺'), url('../fonts/Intro-Bold.woff') format('woff');
	font-weight: 700;
    font-style: normal;
}