<!-- About Us -->

<div class="about_us" id="about_us">
    <div class="container">
            <div class="about_us_inf">
                    <div class="about_us_title">
                            Мы — альянс<br>
                            высоко технологичных<br>
                            предприятий.
                    </div>
                    <p class="about_us_text">Распознавание изображений, разработка<br>
                    прогностических моделей, мобильных<br>
                    приложений, вэб-проектов, дополненная и<br>
                    виртуальная реальность, ИИ-ассистенты,<br>
                    умный маркетинг</p>
            </div>  
    </div>
</div>    