<!-- Directions -->

<div class="directions">
    <div class="container">
            <div class="directions_item">
                    <div class="directions_item_title">Приоритетные направления</div>
                    <div class="direction_item_list">
                            <ul type="circle">
                                    <li><span>Маркетинговые исследования</span></li>
                                    <li><span>Дизайн</span></li>
                                    <li><span>Прототипирование и проектирование</span></li>
                                    <li><span>Научные исследования (НИОКР, НИР)</span></li>
                                    <li><span>Заказная разработка (Web, App, Soft)</span></li>
                                    <li><span>ТРИЗ</span></li>
                            </ul>	                                       
                    </div>
            </div>
    </div>
</div>