<!-- Science -->

<div class="scientific-activity">
    <div class="container">
            <div class="scientific-activity_item">
                    <h3 class="scientific-activity_item_title">Научная деятельность</h3>
                    <p class="scientific-activity_item_text">Основа команды - это состаявшиеся научные коллективы ведущих институтов страны.<br> 
                            Именно поэтому мы уделяем отдельное внимание научно-исследователькой и<br> 
                            социальной работе вместе с нашими партнерами.</p>

                    <div class="scientific-activity_item_partners">
                        <div class="scientific-activity_item_partners_slider" id="partners">
                            <div class="partners_slider_item sp"><img class="bp" src="img/miet.png" alt=""></div>
                            <div class="partners_slider_item sp"><img class="bp" src="img/innopolis.png" alt=""></div>
                            <div class="partners_slider_item sp"><img class="bp" src="img/mfti.png" alt=""></div>
                            <div class="partners_slider_item sp"><img class="bp" src="img/skoltech.png" alt=""></div>
                            <div class="partners_slider_item"><img src="img/mgu.png" alt=""></div>
                            <div class="partners_slider_item"><img src="img/natt.png" alt=""></div>
                            <div class="partners_slider_item"><img src="img/mgua.png" alt=""></div>
                        </div>
                    </div>


                    <div class="scientific-activity_item_directions">
                        <button class="button button_science">Нейронные сети</button>
                        <button class="button button_science">Машинное обучение</button>
                        <button class="button button_science">AR/VR проекты</button>
                        <button class="button button_science">BI-аналитика</button>
                        <button class="button button_science">back-end разработка</button>
                        <button class="button button_science">front-end разработка</button>
                    </div>
                    <div class="scientific-activity_item_contracts">
                        <img class="contr" src="img/1page.jpg" alt="">
                        <img class="contr" src="img/2page.jpg" alt="">
                        <img class="contr" src="img/3page.jpg" alt="">
                        <img class="contr" src="img/4page.jpg" alt="">
                    </div>
            </div>

    </div>

</div>