<div class="social">
    <div class="container">
        <div class="social_item">
            <div class="social_item_title">Мы в социальных сетях</div>

            <div class="social_item_links">
    
                <a href="javascript:;">
                    <svg class="social-icon">
                            <use xlink:href="#icon-vk-logo"></use>
                    </svg>Вконтаке
                </a>

                <a href="javascript:;">
                    <svg class="social-icon">
                            <use xlink:href="#icon-yt-logo"></use>
                    </svg>YouTube
                </a>

                <a href="javascript:;">
                    <svg class="social-icon">
                            <use xlink:href="#icon-inst-logo"></use>
                    </svg>Instagram
                </a>
                
                

            </div>


            </div>
        </div>
    </div>
</div>