<div class="team">
    <div class="team_title">Команда</div>


    
        <div class="team_persons">
            <img class="team_persons_photo" src="img/Pavel.png" alt="">
            <img class="team_persons_photo" src="img/Roman.png" alt="">
            <img class="team_persons_photo" src="img/Vlad.png" alt="">
            <img class="team_persons_photo" src="img/dmitriy.png" alt="">
            <img class="team_persons_photo" src="img/Robert.png" alt="">
            <img class="team_persons_photo" src="img/hm.png" alt="">
            <img class="team_persons_photo" src="img/hm1.png" alt="">
            <img class="team_persons_photo" src="img/hm2.png" alt="">
            <img class="team_persons_photo" src="img/Zelen.png" alt="">
            <img class="team_persons_photo" src="img/hm3.png" alt="">
        </div>


        <div class="team_statistics">
            <div class="team_statistics_item">
                <h1 class="team_statistics_item_title">16</h1>
                <p class="team_statistics_item_text">Лет опыта <br>в отрасли</p>
            </div>

            <div class="team_statistics_item">
                <h1 class="team_statistics_item_title">320</h1>
                <p class="team_statistics_item_text">Проекта<br> выполнено</p>
            </div>

            <div class="team_statistics_item">
                <h1 class="team_statistics_item_title">132</h1>
                <p class="team_statistics_item_text">Ключевых<br> специалиста</p> 
            </div>
        </div>  

    

</div>