<div class="cases" >

    <div class="cases_sidebar">
        <div class="cases_sidebar_list">
            
                <a class="cases_sidebar_list_item" href="javascript:;">Сайты</a>
            
                <a class="cases_sidebar_list_item" href="javascript:;">Сервисы</a>
           
                <a class="cases_sidebar_list_item" href="javascript:;">Приложения</a>
           
                <a class="cases_sidebar_list_item" href="javascript:;">Агрегаторы</a>
            
                <a class="cases_sidebar_list_item" href="javascript:;">Маркетплейсы</a>
            
                <a class="cases_sidebar_list_item" href="javascript:;">Стенды</a>
           
                <a class="cases_sidebar_list_item" href="javascript:;">Сайты</a>
            
                <a class="cases_sidebar_list_item" href="javascript:;">Сервисы</a>
            
                <a class="cases_sidebar_list_item" href="javascript:;">Приложения</a>
           
                <a class="cases_sidebar_list_item" href="javascript:;">Агрегаторы</a>
            
                <a class="cases_sidebar_list_item" href="javascript:;">Маркетплейсы</a>
            
            
        </div>
    </div>



    <div class="cases_content">

        <!-- NEUROHOME -->
        <div class="cases_content_item">
            <h2 class="cases_content_item_section">Мобильное приложение</h2>
            <div class="cases_content_item_title">NEUROHOME<a href="javascript:;">ktopoverit.ru</a></div>  
            <hr>
            
            <div class="cases_content_item_description">Дизайн, проектирование, разработка

                <div class="cases_button">
                    <button class="cases_button_arrow slickPrev" type="button">
                            <svg width='39' height='20'>
                                <use xlink:href="#icon-left-arrow"></use>
                            </svg>
                    </button>

                    <button class="cases_button_arrow slickNext" type="button">
                        <svg width='39' height='20'>
                            <use xlink:href="#icon-right-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="cases_content_item_pos" >
                <div class="cases_content_item_pos_slider" id="mob_app">
                    <div class="cases_content_item_pos_slider_item"><img  src="img/mobApp-1.png" alt=""></div>
                    <div class="cases_content_item_pos_slider_item"><img  src="img/mobApp-2.png" alt=""></div>
                    <div class="cases_content_item_pos_slider_item"><img  src="img/mobApp-3.png" alt=""></div>
                    <div class="cases_content_item_pos_slider_item"><img  src="img/mobApp-4.png" alt=""></div>
                    <div class="cases_content_item_pos_slider_item"><img  src="img/mobApp-2.png" alt=""></div>
                </div>
            </div>
        </div>

        <!-- Кто поверит -->
        <div class="cases_content_item">
            <h2 class="cases_content_item_section">Агрегатор</h2>
            <div class="cases_content_item_title">Кто поверит<a href="javascript:;">ktopoverit.ru</a></div>
            <hr>
            
            <div class="cases_content_item_description">Дизайн, проектирование, разработка

                <div class="cases_button">
                    <button class="cases_button_arrow AgrslickPrev" type="button">
                            <svg width='39' height='20'>
                                <use xlink:href="#icon-left-arrow"></use>
                            </svg>
                    </button>

                    <button class="cases_button_arrow AgrslickNext" type="button">
                        <svg width='39' height='20'>
                            <use xlink:href="#icon-right-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="cases_content_item_pos">
                <div class="cases_content_item_pos_slider" id="agregator">
                    <div class="cases_content_item_pos_slider_item cases_content_item_pos_slider_item_agr"><img src="img/kto-poverit-img1.jpg" alt=""></div>
                    <div class="cases_content_item_pos_slider_item cases_content_item_pos_slider_item_agr"><img src="img/kto-poverit-img2.jpg" alt=""></div>
                    <div class="cases_content_item_pos_slider_item cases_content_item_pos_slider_item_agr"><img src="img/kto-poverit-img1.jpg" alt=""></div>

                </div>
            </div>
        </div>

        <!-- RPV -->
        <div class="cases_content_item">
            <h2 class="cases_content_item_section">Агрегатор</h2>
            <div class="cases_content_item_title">RPV<a href="javascript:;">ktopoverit.ru</a></div>
            <hr>
            
            <div class="cases_content_item_description">Дизайн, проектирование, разработка

                <div class="cases_button">
                    <button class="cases_button_arrow Agr2slickPrev" type="button">
                            <svg width='39' height='20'>
                                <use xlink:href="#icon-left-arrow"></use>
                            </svg>
                    </button>

                    <button class="cases_button_arrow Agr2slickNext" type="button">
                        <svg width='39' height='20'>
                            <use xlink:href="#icon-right-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="cases_content_item_pos">
                <div class="cases_content_item_pos_slider" id="agregator2">
                    <div class="cases_content_item_pos_slider_item cases_content_item_pos_slider_item_agr"><img src="img/rpv-img1.jpg" alt=""></div>
                    <div class="cases_content_item_pos_slider_item cases_content_item_pos_slider_item_agr"><img src="img/rpv-img2.jpg" alt=""></div>
                    <div class="cases_content_item_pos_slider_item cases_content_item_pos_slider_item_agr"><img src="img/rpv-img2.jpg" alt=""></div>

                </div>
            </div>
        </div>

        <!-- RFK -->
        <div class="cases_content_item">
            <h2 class="cases_content_item_section">Агрегатор</h2>
            <div class="cases_content_item_title">RFK<a href="javascript:;">ktopoverit.ru</a></div>
            <hr>
            
            <div class="cases_content_item_description">Дизайн, проектирование, разработка

                <div class="cases_button">
                    <button class="cases_button_arrow Agr3slickPrev" type="button">
                            <svg width='39' height='20'>
                                <use xlink:href="#icon-left-arrow"></use>
                            </svg>
                    </button>

                    <button class="cases_button_arrow Agr3slickNext" type="button">
                        <svg width='39' height='20'>
                            <use xlink:href="#icon-right-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>


            <div class="cases_content_item_pos">
                <div class="cases_content_item_pos_slider" id="agregator3">
                    <div class="cases_content_item_pos_slider_item cases_content_item_pos_slider_item_agr"><img src="img/rfk-img1.jpg" alt=""></div>
                    <div class="cases_content_item_pos_slider_item cases_content_item_pos_slider_item_agr"><img src="img/rfk-img2.jpg" alt=""></div>
                    <div class="cases_content_item_pos_slider_item cases_content_item_pos_slider_item_agr"><img src="img/rfk-img2.jpg" alt=""></div>

                </div>
            </div>
        </div>

    </div>




</div>

