<!-- Clients -->

<div class="clients">
    <div class="container">
            <div class="clients_inf">
                    <div class="clients_title">Клиенты</div>
                    <p><img class="clients_comps" src="img/clients.png" alt=""></p>
                    <p class="clients_desc">В работе со всеми нашими клиентами мы<br> 
                    придерживаемся индивидуального подхода. Все кейсы<br>
                    реализованы в целях решения проблем и задач, которые<br> 
                    образовались в бизнесе клиента.</p>

            </div>
    </div>
</div>