<!-- Competencies -->

<div class="competencies">
    <div class="container">
        <div class="competencies_item">
            <div class="competencies_item_title">Ключевые компетенции</div>
            <div class="competencies_item_list">
                <ul type="circle">
                        <li><span class="wc">Машинное обучение</span></li>
                        <li><span class="wc">Глубокое обучение</span></li>
                        <li><span class="wc">VR/AR технологии</span></li>
                        <li><span class="wc">Web разработка</span></li>
                        <li><span class="wc">Мобильная разработка</span></li>
                        <li><span class="wc">Дизайн и проектирование</span></li>
                </ul>	                                       
            </div>

            <button class="button button_competencies">Смотреть все   ↓</button>

        </div>
    </div>
</div>