<div class="modal" id="modal_1">
    <div class="modal_dialog">
        <div class="modal_dialog_content">
            <div class="modal_dialog_content_header">
                <div class="modal_dialog_content_header_btns">
                    <a href="javascript:;" class="modal_button modal_button_active">Образование</a>
                    <a href="javascript:;" class="modal_button">Опыт</a>
                    <a href="javascript:;" class="modal_button">Навыки</a>
                </div>
                
                <button class="modal_close" type="button" data-close>
                    <svg class="close_icon"> 
                        <use xlink:href="#icon-x"></use>
                    </svg>
                </button>

            </div>

            <div class="modal_dialog_content_item">
                <h3 class="modal_dialog_content_item_title">Образование</h3>
                <p class="modal_dialog_content_item_text">Аспирант МФТИ ГУ (направление прикладная
                    математика и физика), магистр МФТИ ГУ (направление прикладная математика
                    и физика), магистр (направление Экономика) РАНХиГС при президенте РФ,
                    бакалавр НИУ МИЭТ (направление информационные технологии)
                    в 19 лет основал свой первый технологический стартап, в 21 год закрыл
                    первую инвестиционную сделку. Эксперт рабочей группы “Цифровая
                    экономика России” по направлению “Big data”, “Blockchain” Призер
                    международных студенческих олимпиад: по микроэлектронике (МИЭТ 2015),
                    по физике (МИЭТ 2011) Победитель стартап-конкурсов по разработке и
                    запуску проекта “Цифровая модель предприятия полупроводниковой
                    промышленности”. Проект реализован и запущен на действующем
                    производстве АО “Ангстрем-Т” Член совета молодых ученых г. Москвы
                    Советник исплнительного директора Национальный Ассоциации Трансфера
                    Технологий Если кратко:
                </p>

                <h3 class="modal_dialog_content_item_title">Education</h3>
                <p class="modal_dialog_content_item_text">postgraduate student of Moscow Institute of Physics and Technology, master of
                    Moscow Institute of Physics and Technology, master’s degree in “Economics”
                    (RANEPA the Russian Presidential Academy), bachelor of the National Research
                    University «Moscow Institute of electronic engineering» Expert of the working
                    group "Digital Economy of Russia" in the field of "Big data", "Blockchain";
                    Prize-winner of international student competitions in microelectronics (MIEE
                    2015), physics (MIEE 2011); Winner of start-up competitions in the development
                    and launch of the project “Digital model of the semiconductor industry”
                </p>
            </div>

            <div class="modal_dialog_content_item">
                <h3 class="modal_dialog_content_item_title">Опыт</h3>
                <p class="modal_dialog_content_item_text">Аспирант МФТИ ГУ (направление прикладная
                    математика и физика), магистр МФТИ ГУ (направление прикладная математика
                    и физика), магистр (направление Экономика) РАНХиГС при президенте РФ,
                    бакалавр НИУ МИЭТ (направление информационные технологии)
                    в 19 лет основал свой первый технологический стартап, в 21 год закрыл
                    первую инвестиционную сделку. Эксперт рабочей группы “Цифровая
                    экономика России” по направлению “Big data”, “Blockchain” Призер
                    международных студенческих олимпиад: по микроэлектронике (МИЭТ 2015),
                    по физике (МИЭТ 2011) Победитель стартап-конкурсов по разработке и
                    запуску проекта “Цифровая модель предприятия полупроводниковой
                    промышленности”. Проект реализован и запущен на действующем
                    производстве АО “Ангстрем-Т” Член совета молодых ученых г. Москвы
                    Советник исплнительного директора Национальный Ассоциации Трансфера
                    Технологий Если кратко:
                </p>

                <h3 class="modal_dialog_content_item_title">Experience</h3>
                <p class="modal_dialog_content_item_text">postgraduate student of Moscow Institute of Physics and Technology, master of
                    Moscow Institute of Physics and Technology, master’s degree in “Economics”
                    (RANEPA the Russian Presidential Academy), bachelor of the National Research
                    University «Moscow Institute of electronic engineering» Expert of the working
                    group "Digital Economy of Russia" in the field of "Big data", "Blockchain";
                    Prize-winner of international student competitions in microelectronics (MIEE
                    2015), physics (MIEE 2011); Winner of start-up competitions in the development
                    and launch of the project “Digital model of the semiconductor industry”
                </p>
            </div>

            <div class="modal_dialog_content_item">
                <h3 class="modal_dialog_content_item_title">Навыки</h3>
                <p class="modal_dialog_content_item_text">Аспирант МФТИ ГУ (направление прикладная
                    математика и физика), магистр МФТИ ГУ (направление прикладная математика
                    и физика), магистр (направление Экономика) РАНХиГС при президенте РФ,
                    бакалавр НИУ МИЭТ (направление информационные технологии)
                    в 19 лет основал свой первый технологический стартап, в 21 год закрыл
                    первую инвестиционную сделку. Эксперт рабочей группы “Цифровая
                    экономика России” по направлению “Big data”, “Blockchain” Призер
                    международных студенческих олимпиад: по микроэлектронике (МИЭТ 2015),
                    по физике (МИЭТ 2011) Победитель стартап-конкурсов по разработке и
                    запуску проекта “Цифровая модель предприятия полупроводниковой
                    промышленности”. Проект реализован и запущен на действующем
                    производстве АО “Ангстрем-Т” Член совета молодых ученых г. Москвы
                    Советник исплнительного директора Национальный Ассоциации Трансфера
                    Технологий Если кратко:
                </p>

                <h3 class="modal_dialog_content_item_title">Skills</h3>
                <p class="modal_dialog_content_item_text">postgraduate student of Moscow Institute of Physics and Technology, master of
                    Moscow Institute of Physics and Technology, master’s degree in “Economics”
                    (RANEPA the Russian Presidential Academy), bachelor of the National Research
                    University «Moscow Institute of electronic engineering» Expert of the working
                    group "Digital Economy of Russia" in the field of "Big data", "Blockchain";
                    Prize-winner of international student competitions in microelectronics (MIEE
                    2015), physics (MIEE 2011); Winner of start-up competitions in the development
                    and launch of the project “Digital model of the semiconductor industry”
                </p>
            </div>


        </div>
        
    </div>

</div>