<div class="technologies cases" id="technologies">

    <div class="cases_sidebar">
        <div class="cases_sidebar_list">
            
                <a class="cases_sidebar_list_item techno" href="javascript:;">Машинное обучение</a>
            
                <a class="cases_sidebar_list_item techno" href="javascript:;">Нейронные сети</a>
        
                <a class="cases_sidebar_list_item techno" href="javascript:;">Автоматизация бизнеса</a>
        
                <a class="cases_sidebar_list_item techno" href="javascript:;">Web разработка</a>
            
                <a class="cases_sidebar_list_item techno" href="javascript:;">Дизайн</a>
            
                <a class="cases_sidebar_list_item techno" href="javascript:;">Мобильная разработка</a>
        
                <a class="cases_sidebar_list_item techno" href="javascript:;">Голосовые Боты</a>
            
                <a class="cases_sidebar_list_item techno" href="javascript:;">Чат Боты</a>
            
                <a class="cases_sidebar_list_item techno" href="javascript:;">Лидогенерация</a>
        
                <a class="cases_sidebar_list_item techno" href="javascript:;">Маркетинг</a>
            
                <a class="cases_sidebar_list_item techno" href="javascript:;">Hardware</a>

                <a class="cases_sidebar_list_item techno" href="javascript:;">Трейдинг</a>
            
        </div>
    </div>


    

    <div class="technologies_content cases_content">

        <!-- Трейдинг -->
        <div class="technologies_content_block">

            <div class="technologies_content_block_item">
                <h5 class="technologies_content_block_item_subtitle">НАШИ ТЕХНОЛОГИИ</h5>

                <div class="tech_icon"><img src="img/trade.svg" alt=""></div>
                <div class="technologies_content_block_item_title"><h3>Трейдинг</h3></div>
                <p class="technologies_content_block_item_text">В компании выделено отдельное направление по<br>
                    трейдингу. Мы успешно и активно примяняем<br>
                    математические алгоритмы, подходы машинного<br>
                    обучений в торговых задачах</p>
                <a class="technologies_content_block_item_button" href="javascript:;">Смотреть кейсы &#8594;</a>
            </div>

            <div class="technologies_content_block_person">

                <a class="technologies_content_block_person_photo"><img  src="img/Robert.png"  alt=""></a>

                <div class="technologies_content_block_person_info">

                    <div class="technologies_content_block_person_info_main">
                        <p class="technologies_content_block_person_info_main_name">Роберт Васильев</p>
                        <p class="technologies_content_block_person_info_main_post">Генеральный директор</p>
                    </div>

                    <div class="technologies_content_block_person_info_stat">
                        <a class="technologies_content_block_person_info_stat_position" data-modal="#modal_1" href="javascript:;">Образование</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                    </div>
                    
                </div>

            </div>

        </div>



        <!-- Машинное обучение -->
        <div class="technologies_content_block">

            <div class="technologies_content_block_item">
                <h5 class="technologies_content_block_item_subtitle">НАШИ ТЕХНОЛОГИИ</h5>

                <div class="tech_icon"><img src="img/machine.svg" alt=""></div>
                <div class="technologies_content_block_item_title"><h3>Машинное обучение</h3></div>
                <p class="technologies_content_block_item_text">Предсказание просрочки по кредиту за три месяца
                    до этого события, предсказание поломки
                    оборудования, анализ предпочтений ваших клиентов,
                    поиск неочевидных зависимостей, речевой анализ - 
                    все это результат обработки больших данных, чем мы
                    занимаемся на профессиональном уровне</p>
                <a class="technologies_content_block_item_button" href="javascript:;">Смотреть кейсы &#8594;</a>
            </div>

            <div class="technologies_content_block_person">
                <a class="technologies_content_block_person_photo"><img  src="img/Vlad.png"  alt=""></a>

                <div class="technologies_content_block_person_info">

                    <div class="technologies_content_block_person_info_main">
                        <p class="technologies_content_block_person_info_main_name">Владислва Амелин</p>
                        <p class="technologies_content_block_person_info_main_post">Технический директор</p>
                    </div>

                    <div class="technologies_content_block_person_info_stat">
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Образование</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                    </div>
        
                </div>
            </div>
        </div>



        <!-- Нейронные сети -->
        <div class="technologies_content_block">

            <div class="technologies_content_block_item">
                <h5 class="technologies_content_block_item_subtitle">НАШИ ТЕХНОЛОГИИ</h5>

                <div class="tech_icon"><img src="img/neuro.svg" alt=""></div>
                <div class="technologies_content_block_item_title"><h3>Нейронные сети</h3></div>
                <p class="technologies_content_block_item_text">Беспилотные автомобили, голосовые помощники,
                    диагностика заболеваний, распознавание людей на
                    видео, генерация изображений - это лишь часть
                    направлений, в основе которых лежат алгоритмы
                    глубокого обучения, и это - наши рабочие
                    инструменты, при помощи которых мы создаем
                    будущее уже сейчас</p>
                <a class="technologies_content_block_item_button" href="javascript:;">Смотреть кейсы &#8594;</a>
            </div>

            <div class="wrap">
                <div class="technologies_content_block_person ">
                    <a class="technologies_content_block_person_photo"><img  src="img/Robert.png"  alt=""></a>
    
                    <div class="technologies_content_block_person_info">
    
                        <div class="technologies_content_block_person_info_main">
                            <p class="technologies_content_block_person_info_main_name">Роберт Васильев</p>
                            <p class="technologies_content_block_person_info_main_post">Генеральный директор</p>
                        </div>
    
                        <div class="technologies_content_block_person_info_stat">
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Образование</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                        </div>
            
                    </div>
                </div>
        
                <div class="technologies_content_block_person back">
                    <a class="technologies_content_block_person_photo"><img  src="img/Vlad.png"  alt=""></a>
    
                    <div class="technologies_content_block_person_info">
    
                        <div class="technologies_content_block_person_info_main">
                            <p class="technologies_content_block_person_info_main_name">Владислав Амелин</p>
                            <p class="technologies_content_block_person_info_main_post">Технический директор</p>
                        </div>
    
                        <div class="technologies_content_block_person_info_stat">
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Образование</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                        </div>
            
                    </div>
                </div>

                
            </div>
        </div>



        <!-- Чат Боты -->
        <div class="technologies_content_block">

            <div class="technologies_content_block_item">
                <h5 class="technologies_content_block_item_subtitle">НАШИ ТЕХНОЛОГИИ</h5>
                
                <div class="tech_icon"><img src="img/chat.svg" alt=""></div>
                <div class="technologies_content_block_item_title"><h3>Чат Боты</h3></div>
                <p class="technologies_content_block_item_text">Чат боты - это онлайн система, которая
                    автоматизирует бизнес процессы. Они все больше
                    применяются в различных операционных задачах, что
                    мы активно используем в своих проектах</p>
                <a class="technologies_content_block_item_button" href="javascript:;">Смотреть кейсы &#8594;</a>
            </div>

            <div class="wrap">
                <div class="technologies_content_block_person">
                    <a class="technologies_content_block_person_photo"><img  src="img/Robert.png"  alt=""></a>
    
                    <div class="technologies_content_block_person_info">
    
                        <div class="technologies_content_block_person_info_main">
                            <p class="technologies_content_block_person_info_main_name">Роберт Васильев</p>
                            <p class="technologies_content_block_person_info_main_post">Генеральный директор</p>
                        </div>
    
                        <div class="technologies_content_block_person_info_stat">
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Образование</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                        </div>
            
                    </div>
                </div>
        
                <div class="technologies_content_block_person back">
                    <a class="technologies_content_block_person_photo"><img  src="img/Vlad.png"  alt=""></a>
    
                    <div class="technologies_content_block_person_info">
    
                        <div class="technologies_content_block_person_info_main">
                            <p class="technologies_content_block_person_info_main_name">Владислав Амелин</p>
                            <p class="technologies_content_block_person_info_main_post">Технический директор</p>
                        </div>
    
                        <div class="technologies_content_block_person_info_stat">
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Образование</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>           



        <!-- Лидогенерация -->
        <div class="technologies_content_block">

            <div class="technologies_content_block_item">
                <h5 class="technologies_content_block_item_subtitle">НАШИ ТЕХНОЛОГИИ</h5>
                <div class="tech_icon"><img src="img/lido.svg" alt=""></div>
            
                <div class="technologies_content_block_item_title"><h3>Лидогенерация</h3></div>
                <p class="technologies_content_block_item_text">Что-то про лидогенерацию</p>
                <a class="technologies_content_block_item_button" href="javascript:;">Смотреть кейсы &#8594;</a>
            </div>

            <div class="technologies_content_block_person">
                <a class="technologies_content_block_person_photo"><img  src="img/Roman.png"  alt=""></a>

                <div class="technologies_content_block_person_info">

                    <div class="technologies_content_block_person_info_main">
                        <p class="technologies_content_block_person_info_main_name">Роман Федоров</p>
                        <p class="technologies_content_block_person_info_main_post">Руководитель отдела по трафику</p>
                    </div>

                    <div class="technologies_content_block_person_info_stat">
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Образование</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                    </div>
        
                </div>
            </div>
        </div>



        <!-- Маркетинг -->
        <div class="technologies_content_block">

            <div class="technologies_content_block_item">
                <h5 class="technologies_content_block_item_subtitle">НАШИ ТЕХНОЛОГИИ</h5>
                <div class="tech_icon"><img src="img/marketing.svg" alt=""></div>

                <div class="technologies_content_block_item_title"><h3>Маркетинг</h3></div>
                <p class="technologies_content_block_item_text"></p>
                <a class="technologies_content_block_item_button" href="javascript:;">Смотреть кейсы &#8594;</a>
            </div>

            <div class="technologies_content_block_person">
                <a class="technologies_content_block_person_photo"><img  src="img/Dmitriy2.png"  alt=""></a>

                <div class="technologies_content_block_person_info">

                    <div class="technologies_content_block_person_info_main">
                        <p class="technologies_content_block_person_info_main_name">Дмитрий Лукьян</p>
                        <p class="technologies_content_block_person_info_main_post">Директор по маркетингу</p>
                    </div>

                    <div class="technologies_content_block_person_info_stat">
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Образование</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                    </div>
        
                </div>
            </div>
        </div>



        <!-- Мобильная разработка -->
        <div class="technologies_content_block">

            <div class="technologies_content_block_item">
                <h5 class="technologies_content_block_item_subtitle">НАШИ ТЕХНОЛОГИИ</h5>
                <div class="tech_icon"><img src="img/mob.svg" alt=""></div>

                <div class="technologies_content_block_item_title"><h3>Мобильная разработка</h3></div>
                <p class="technologies_content_block_item_text">Что-то про вэб-разработку</p>
                <a class="technologies_content_block_item_button" href="javascript:;">Смотреть кейсы &#8594;</a>
            </div>

            <div class="technologies_content_block_person">
                <a class="technologies_content_block_person_photo"><img  src="img/Roman.png"  alt=""></a>

                <div class="technologies_content_block_person_info">

                    <div class="technologies_content_block_person_info_main">
                        <p class="technologies_content_block_person_info_main_name">Гаганчиков Павел</p>
                        <p class="technologies_content_block_person_info_main_post">Руководитель Back end Разработки</p>
                    </div>

                    <div class="technologies_content_block_person_info_stat">
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Образование</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                    </div>
        
                </div>
            </div>
        </div>



        <!-- Web разработка -->
        <div class="technologies_content_block">

            <div class="technologies_content_block_item">
                <h5 class="technologies_content_block_item_subtitle">НАШИ ТЕХНОЛОГИИ</h5>
                <div class="tech_icon"><img src="img/web.svg" alt=""></div>

                <div class="technologies_content_block_item_title"><h3>Web разработка</h3></div>
                <p class="technologies_content_block_item_text">Что-то про вэб-разработку</p>
                <a class="technologies_content_block_item_button" href="javascript:;">Смотреть кейсы &#8594;</a>
            </div>

            <div class="wrap">
                <div class="technologies_content_block_person">
                    <a class="technologies_content_block_person_photo"><img  src="img/Pavel.png"  alt=""></a>
    
                    <div class="technologies_content_block_person_info">
    
                        <div class="technologies_content_block_person_info_main">
                            <p class="technologies_content_block_person_info_main_name">Гаганчиков Павел</p>
                            <p class="technologies_content_block_person_info_main_post">Руководитель Back end Разработки</p>
                        </div>
    
                        <div class="technologies_content_block_person_info_stat">
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Образование</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                        </div>
            
                    </div>
                </div>
        
                <div class="technologies_content_block_person back">
                    <a class="technologies_content_block_person_photo"><img  src="img/Vlad.png"  alt=""></a>
    
                    <div class="technologies_content_block_person_info">
    
                        <div class="technologies_content_block_person_info_main">
                            <p class="technologies_content_block_person_info_main_name">Владислав Амелин</p>
                            <p class="technologies_content_block_person_info_main_post">Технический директор</p>
                        </div>
    
                        <div class="technologies_content_block_person_info_stat">
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Образование</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                            <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>

        

        <!-- Hardware -->
        <div class="technologies_content_block">

            <div class="technologies_content_block_item">
                <h5 class="technologies_content_block_item_subtitle">НАШИ ТЕХНОЛОГИИ</h5>
                <div class="tech_icon"><img src="img/hardware.svg" alt=""></div>

                <div class="technologies_content_block_item_title"><h3>Hardware</h3></div>
                <p class="technologies_content_block_item_text">В компании выделено отдельное направление
                    по трейдингу. Мы успешно и активно примяняем
                    математические алгоритмы, подходы машинного
                    обучений в торговых задачах</p>
                <a class="technologies_content_block_item_button" href="javascript:;">Смотреть кейсы &#8594;</a>
            </div>

            <div class="technologies_content_block_person">
                <a class="technologies_content_block_person_photo"><img  src="img/Robert.png"  alt=""></a>

                <div class="technologies_content_block_person_info">

                    <div class="technologies_content_block_person_info_main">
                        <p class="technologies_content_block_person_info_main_name">Роберт Васильев</p>
                        <p class="technologies_content_block_person_info_main_post">Генеральный деректор</p>
                    </div>

                    <div class="technologies_content_block_person_info_stat">
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Образование</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Опыт</a>
                        <a class="technologies_content_block_person_info_stat_position" href="javascript:;">Навыки</a>
                    </div>
        
                </div>
            </div>
        </div>






    </div>

</div>