<!-- We do -->

<div class="we_do">
    <div class="container">
        <div class="we_do_item">
            <div class="we_do_item_title">Мы делаем</div>
            <div class="we_do_item_directions">
                <button class="button button_science">Нейронные сети</button>
                    <button class="button button_science">Машинное обучение</button>
                    <button class="button button_science">AR/VR проекты</button>
                    <button class="button button_science">BI-аналитика</button>
                    <button class="button button_science">back-end разработка</button>
                    <button class="button button_science">front-end разработка</button>
                    <button class="button button_science">web - дизайн</button>
                    <button class="button button_science">мобильные приложения (IOS, Android)</button>
                    <button class="button button_science">Python</button>
                    <button class="button button_science">C/C++/C#</button>
                    <button class="button button_science">TensorFlow</button>
                    <button class="button button_science">PyTorch</button>
                    <button class="button button_science">Joomla</button>
                    <button class="button button_science">Java</button>
            </div>

            <button class="button button_we_do">Смотреть все   ↓</button>

        </div>
    </div>
</div>