.social-icon {
    display: inline-block;
    fill: #fff;
    width: 35px;
    height: 35px;

    margin-right: 24px;
    margin-bottom: -8px;
}

.icon {
    &-logo {
        width: 205px;
        height: 45px;
    }
}

.close_icon {
    width: 12px;
    height: 12px;
    fill: white;
    stroke: #fff;

    &:hover {
        stroke: #D68F44;
        fill: #D68F44;
    }
}